:root{
    --dark: #091921;
    --light: #cad3dc;
    --pink: #ff105e;
    --blue: #0082ff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}

#clock{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/background.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.05),
                inset -10px -10px 15px rgba(255, 255, 255, 0.05),
                20px 20px 20px rgba(0, 0, 0, 0.3),
                inset 20px 20px 20px rgba(0, 0, 0, 0.3);       
}
#clock::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 50%;
    z-index: 10;
}

#hours{
    position: absolute;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    z-index: 9;
}
#hours::before{
    content: '';
    width: 7px;
    height: 85px;
    background-color: var(--pink);
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
}

#minutes{
    position: absolute;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
}
#minutes::before{
    content: '';
    width: 5px;
    height: 105px;
    background-color: var(--dark);
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
}

#seconds{
    position: absolute;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    z-index: 9;
}
#seconds::before{
    content: '';
    width: 2px;
    height: 145px;
    background-color: var(--blue);
    border-radius: 10px 10px 0 0;
}
